//   ██████  ██████  ██   ██ ██████  █████   █████  ██████  █████  ██████
//  ██░░░░  ██░░░░██░██  ░██░░██░░█ ██░░░██ ██░░░██░░██░░█ ██░░░██░░██░░█
// ░░█████ ░██   ░██░██  ░██ ░██ ░ ░██  ░░ ░███████ ░██ ░ ░███████ ░██ ░
//  ░░░░░██░██   ░██░██  ░██ ░██   ░██   ██░██░░░░  ░██   ░██░░░░  ░██
//  ██████ ░░██████ ░░██████░███   ░░█████ ░░██████░███   ░░██████░███
// ░░░░░░   ░░░░░░   ░░░░░░ ░░░     ░░░░░   ░░░░░░ ░░░     ░░░░░░ ░░░
//  r  e  a  d     c  o  d  e     l  i  k  e     a     w  i  z  a  r  d

//black
$darkBlack:	#222222;
$darkerBlack:	#000000;
$lightBlack:	#272822;

//white
$darkWhite:	#c6c6c6;
$darkerWhite:	#bcbcbc;
$lightWhite:	#d0d0d0;

//red
$darkRed:	#ff6a6a;
$lightRed:	#aa4450;

//green
$darkGreen:	#719611;
$lightGreen:	#b1d631;

//yellow
$darkOrange:	#cc8800;
$lightOrange:	#ff9800;

//blue
$darkBlue:	#6688aa;
$lightBlue:	#90b0d1;

//magenta
$darkMagenta:	#8f6f8f;
$lightMagenta:	#8181a6;

//cyan
$darkCyan:	#528b8b;
$lightCyan:	#87ceeb;

